<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" cellspacing="0">
    {% for user in pagination.items %}
        <tr>
           <td>{{ user.username }}</td>
           <td>{{ user.password }}</td>
        </tr>
    {% endfor %}

</table>
<div>
    {% for current in pagination.iter_pages() %}
        <a href="{{ url_for('bp.list_user',page=current) }}">{{ current }}</a> &nbsp;&nbsp;
    {% endfor %}
</div>
</body>
</html>